<div class="card flex justify-content-center">
    <p-toast></p-toast>
    <p-fileUpload name="thumb" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="selectThumb($event)"
        accept="image/*" [maxFileSize]="1000000" [chooseLabel]="' Adicionar'" [chooseIcon]="'pi pi-image'"
        [auto]="true">
        <ng-template pTemplate="content">
            <ul *ngIf="thumb">
                <li>{{ thumb.name }}</li>
            </ul>
            <p class="mt-3 title-category">Escolha uma ou mais categorias</p>
            <div class="categories">
                <div class="mb-4 flex flex-wrap justify-content-center gap-3">
                    <div *ngFor="let tag of tags" class="flex align-items-center gap-1">
                        <p-checkbox name="selectedTags" value="{{tag.tag}}" [(ngModel)]="selectedTags"
                            inputId="{{tag.id}}"></p-checkbox>
                        <label for="{{tag.id}}">{{tag.tag}}</label>
                    </div>
                </div>
            </div>
            <div class="categories-select">
                <p-multiSelect [options]="tags" [(ngModel)]="selectedTags" defaultLabel="Selecione a(s) categoria(s)"
                    optionLabel="tag" optionValue="tag" inputId="id" display="chip"
                    [style]="{'max-width':'100%'}"></p-multiSelect>
            </div>
            <div class="flex flex-column gap-2 mb-3 mt-3">
                <label htmlFor="titulo">Título da Receita</label>
                <input pInputText id="titulo" [(ngModel)]="titulo" />
            </div>

            <p-button [disabled]="stepEnabled" label="Salvar Receita" icon="pi pi-save"
                (onClick)="uploadReceita()"></p-button>

            <div *ngIf="stepEnabled" class="mt-4 card flex justify-content-center">
                <p-orderList [value]="steps" [listStyle]="{ 'min-height': '5rem' }" header="Steps" [dragdrop]="true">
                    <ng-template let-step pTemplate="item">
                        <div class="flex align-items-center p-2 w-full flex-wrap">
                            <div class="flex-1">
                                <div class="w-full text-center lg:w-auto lg:text-left mb-2">
                                    <img src="{{ url }}" [alt]="step.video.name"
                                        class="mr-3 shadow-3 w-7rem mb-3 lg:w-5rem lg:mb-auto" />
                                </div>
                                <span class="vertical-align-middle line-height-1">{{ step.video.name }}</span>
                            </div>
                            <div class="flex flex-column align-items-end">
                                <h6 class="mb-2">{{ step.modoPreparo }}</h6>
                            </div>
                        </div>
                    </ng-template>
                </p-orderList>
                <modal (stepSalvo)="addStep($event)" class="m-2" [title]="'Cadastrar Step'" [stepFull]="true"
                    [receitaId]="receitaId" [stepNumber]="steps.length + 1"></modal>
            </div>
        </ng-template>
    </p-fileUpload>
</div>