<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">{{title}}</h4>
		<button type="button" class="btn-close shadow-none" aria-label="Close"
			(click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form-receita *ngIf="ehCadastro"></form-receita>
		<form-step (stepEvent)="pushStep($event)" [receitaId]="receitaId" *ngIf="stepFull"></form-step>
		<video-receita *ngIf="learnReceita"></video-receita>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
	</div>
</ng-template>

<button *ngIf="ehCadastro" class="btn btn-outline-danger me-2" (click)="openXl(content)">Cadastrar Receita</button>
<fa-icon *ngIf="learnReceita" [icon]="faPlay" animation="beat" class="icon-align" (click)="openXl(content)"></fa-icon>
<p-button *ngIf="stepFull" label="Adicionar Step" styleClass="p-button-raised p-button-text"
	(click)="openFullscreen(content)"></p-button>