<div class="navbar">
	<div class="nav-logo">
		<img src="../assets/hey_cheff.png" alt="Logo HeyCheff">
	</div>
	<div class="nav-search">
		<input type="text" id="search" placeholder="Pesquise Aqui...">
	</div>
	<modal></modal>
</div>

<div class="mt-8 flex flex-wrap justify-content-evenly">
	<div *ngFor="let receita of feed" class="card flex align-items-center">
		<p-card [style]="{ width: '400px' }">
			<ng-template pTemplate="header">
				<img alt="Receita Card" src="{{receita.thumb}}" />
			</ng-template>
			<p class="card-title">{{receita.titulo}}</p>
		</p-card>
	</div>
</div>