<div class="navbar">
	<div class="nav-logo">
		<img src="../assets/hey_cheff_black.png" alt="Logo HeyCheff">
	</div>
	<input type="text" class="nav-search nav-item" placeholder="Pesquise Aqui...">
	<div class="nav-item">
		<modal [title]="'Cadastrar Receita'" [ehCadastro]="true"></modal>
	</div>

	<ng-template #content let-offcanvas>
		<div class="offcanvas-header">
			<h4 class="offcanvas-title">Menu</h4>
			<button type="button" class="btn-close" aria-label="Close"
				(click)="offcanvas.dismiss('Cross click')"></button>
		</div>
		<div class="offcanvas-body">
			<div class="search-area">
				<input type="text" class="nav-search" placeholder="Digite Aqui...">
				<div class="text-end">
					<button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">
						<i class="pi pi-search"></i>
					</button>
				</div>
			</div>
			<modal [title]="'Cadastrar Receita'" [ehCadastro]="true"></modal>
		</div>
	</ng-template>
	<button class="btn btn-outline-danger me-2 btn-menu" (click)="openMenu(content)">
		<i class="pi pi-search"></i>
	</button>
</div>

<div class="mt-8 flex flex-wrap justify-content-evenly">
	<div *ngFor="let receita of feed">
		<p-card [style]="{ width: '400px' }" class="card mb-5">
			<ng-template pTemplate="header">
				<div class="thumb">
					<img class="card-img" alt="Receita Card" src="{{receita.thumb}}" />
					<modal [title]="'Aprender Receita'" [learnReceita]="true"></modal>
				</div>
			</ng-template>
			<p class="card-title">{{receita.titulo}}</p>
		</p-card>
	</div>
</div>