<div class="flex justify-content-center">
    <div style="display: inline; justify-content: center;">
        <p-toast></p-toast>
        <div>
            <label for="video" class="input-file">
                <i class="pi pi-video"></i>
                &nbsp;{{chooseLabel}}
            </label>
            <input type="file" accept="video/*" name="video" id="video" (change)="selectVideo($event)">
        </div>
        <div [formGroup]="formStep" class="mt-2 mb-2 produto-list">
            <div formArrayName="ingredientes" *ngFor="let control of ingredientes.controls; index as i">
                <div [formGroupName]="i" class="form-step mb-2">
                    <input type="text" formControlName="desc" placeholder="Aponte o ingrediente" class="input-step"
                        list="produtos">
                    <datalist id="produtos">
                        <option *ngFor="let prod of produtos">{{ prod }}</option>
                    </datalist>
                    <select formControlName="unidMedida" class="input-step">
                        <option disabled>Unidade medida</option>
                        <option *ngFor="let uniMed of medidas">{{ uniMed }}</option>
                    </select>
                    <input type="number" formControlName="medida" class="input-step" placeholder="Medida">
                </div>
            </div>
            <p-button (onClick)="addProduto()" class="add-produto mb-2" styleClass="p-button-raised p-button-text"
                icon="pi pi-plus"></p-button>
        </div>

        <textarea placeholder="Modo de Preparo..." rows="5" style="width: 100%" pInputTextarea [autoResize]="true"
            [(ngModel)]="modoPreparo" class="mb-2"></textarea>

        <p-button [disabled]="video == null" label="Salvar" icon="pi pi-save" (onClick)="salvarStep()"></p-button>
    </div>
</div>